@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary-color:rgb(113, 152, 168);
    --primary-color-darker: rgb(94, 79, 79);
}

*{
    box-sizing: border-box;
    outline: 0;
   /* margin: 0;
    padding: 0;         para resetar o css*/
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
   
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
 font-size: 24px;
 height: 50px;
 padding: 0 20px;
 
}

form input:focus{
    outline: 1px solid var(--primary-color)

}

form button {
    border: none;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);

}
.tabela{
    width: 400px;
}

.display {
    font-size: 45px;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    background: rgb(177, 174, 174);
    cursor: pointer;
}
.btn:hover{
    background: rgb(141, 140, 140);
}

.btn-eq{
    background: rgb(83, 138, 138);
}

.btn-eq:hover{
    background-color: rgb(14, 95, 95);
}